@model DarkSoulsSite.Entities.Functions.Fight

@{
//Layout = null;
}

<div id="TopPillars"></div>
<div id="MiddlePillars">
    <div id="Border">

        <div>
            <h4>Fight</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Boss.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Boss.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Character.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Character.Name)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayNameFor(model => model.BossPoints)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BossPoints)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CharacterPoints)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CharacterPoints)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayNameFor(model => model.Result)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Result)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.Character.Level)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Character.Level)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Character.Weapon.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Character.Weapon.Name)
                    </dd>*@

            </dl>
        </div>

        <hr />

        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
    </div>
