@model DarkSoulsSite.Entities.Items.Magic

@{
    ViewBag.Title = "Delete";
}

<div id="TopPillars"></div>
<div id="MiddlePillars">
    <div id="Border">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Magic</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BaseMagic)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BaseMagic)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fire)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lightning)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lightning)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Level)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Level)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        </div>
    </div>
