@model IEnumerable<DarkSoulsSite.Entities.Items.Magic>

@{
    ViewBag.Title = "Index";
}

@{
    int i = 0;
}

<div id="TopPillars"></div>
<div id="MiddlePillars">
    <div id="bosses">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>


        @foreach (var item in Model)
        {
            if (i % 2 == 0)
            {
                @:<div class='row' id='row1'>
                    }
            <div class='el' id='el1'>
                <h1 class='Names'>


                    @Html.DisplayFor(modelItem => item.Name)

                </h1>
                <div id='Border3'>
                    <div class='boss'>
                        <br />
                        @*<td>*@
                        @*@Html.DisplayFor(modelItem => item.Image)*@
                        <img src="@item.Image" alt="@item.Name" />
                        @*</td>*@
                    </div>


                </div>
                <div class='crud'>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </div>
            </div>
            i = i + 1;
            if (i % 2 == 0)
            {
                @:</div>
                        }
        }

    </div>
</div>

