<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Souls Register</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Styles/styleRes.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)


</head>
<body id="wrapper">
    <header id="head">
        <a href="@Url.Action("Index", "Home")"><img id="logoimg" src="~/img/BonFire/Bonfire3.png" alt="logo"></a>
        <img id="titleimg" src="~/img/Title.png" alt="title">
        <div id="BorderLog">
            @Html.Partial("_LoginPartial")
        </div>
    </header>
    <div class="line"></div>
    <nav id="nav">
        <ul id="nav-list">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Bosses", "Index", "Bosses")</li>
                        <li>@Html.ActionLink("Characters", "Index", "Characters")</li>
                        <li>@Html.ActionLink("Weapons", "Index", "Weapons")</li>
                        <li>@Html.ActionLink("Armors", "Index", "Armors")</li>
                        <li>@Html.ActionLink("Magics", "Index", "Magics")</li>
                        <li>@Html.ActionLink("Fights", "Index", "Fights")</li>
                    }
                </ul>
            </ul>
        </nav>
        <div class="line"></div>
    <div id="main">
        @RenderBody()
            <div id="BottomPillars"></div>
    </div>

        <div class="clear"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
