@model DarkSoulsSite.Entities.Common.Boss

@{
    ViewBag.Title = "Details";
}

<div id="TopPillars"></div>
<div id="MiddlePillars">
    <div id="Border">

<div>
    <h4>Boss</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseDamage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseDamage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseArmor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseArmor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FireDefense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FireDefense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IceDefense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IceDefense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LightningDefense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LightningDefense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BleedDefence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BleedDefence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoisonDefence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoisonDefence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src="@Html.DisplayFor(model => model.Image)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
        </div>
    </div>
